In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import warnings

warnings.filterwarnings('ignore')

In [ ]:
class backtest_buy_after_hammer:
    
    def __init(self,ticker,start,end,day_low_range,hammer_pct,position_close_range):
        
        self.ticker = ticker
        self.start = start
        self.end = end
        self.day_low_range = day_low_range
        self.hammer_pct = hammer_pct
        self.position_close_range = position_close_range
        
        self.fetch_data()
        self.indicators()
        self.signals()
        self.positions()
        self.returns()
        
    def fetch_data(self):
        self.df = yf.download(self.ticker,self.start,self.end)
        
    def indicators(self):
        self.df['hammer_form'] = np.where(self.df['Low'] - self.df['High']) > (3*(self.df['Adj']))

In [2]:
df = yf.download('^NSEI','2019-01-01','2021-01-01')
df1=df.copy()
df1.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,10868.849609,10895.349609,10735.049805,10792.500000,10792.500000,309700
2019-01-03,10796.799805,10814.049805,10661.250000,10672.250000,10672.250000,286200
2019-01-04,10699.700195,10741.049805,10628.650391,10727.349609,10727.349609,296600
2019-01-07,10804.849609,10835.950195,10750.150391,10771.799805,10771.799805,269400
2019-01-08,10786.250000,10818.450195,10733.250000,10802.150391,10802.150391,277700

In [ ]:
df1['hammer_form'] = np.where((df1['Low'] - df1['High']) > (3*((df1['Adj Close'] - df1['Open']).abs()))